<router-outlet></router-outlet>
<ng-container class="container">    
    <table class="table table-bordered table-hover">    
      <tr>    
        <th>Id</th>    
        <th>Name</th>    
        <th>Gender</th>    
        <th>Mobile</th>    
      </tr>    
      <tr *ngFor="let item of tarifs">    
        <td>{{item.montant}}</td>    
        <td>{{item.idClient}}</td> 
        <td>{{item.idClientHeritage}}</td>    
        <td>{{item.codeDepartement}}</td>     
        <td>{{item.zone}}</td>    
      </tr>    
    </table>    
</ng-container>  